* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #252739;
  --light-color: #4c4f69;
  --white-color: #eff1f5;
  --red-color: #e78284;
  --orange-color: #ef9f76;
  --yellow-color: #e5c890;
  --green-color: #a6d189;
  --blue-color: #8caaee;
  --purple-color: #ca9ee6;
}
ul,
ol,
menu {
  list-style: none;
}
li {
  height: fit-content;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
option,
select {
  color: var(--dark-color);
  font: inherit;
}
nav a {
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}
nav a:hover {
  color: var(--yellow-color);
}
body {
  font-size: 16px;
  background-color: var(--dark-color);
  color: var(--orange-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
#main {
  min-height: 100vh;
  display: grid;
  align-content: space-between;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 100px 1fr 100px;
}
header {
  grid-row: 1;
}
footer {
  grid-row: 3;
}
main {
  grid-row: 2;
  grid-column: 2 / 3;
}
footer,
header {
  grid-column: 1 / 4;
  display: flex;
  height: 100px;
  align-items: center;
  padding: 10px;
  background-color: var(--light-color);
  justify-content: space-around;
}
#logo {
  height: 100px;
  width: 200px;
  transform: rotate(10deg);
}
ul {
  display: flex;
  gap: 20px;
}
.avatar {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.avatar:hover {
  transform: scale(1.2);
}
