main {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--dark-color);
  color: var(--orange-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#settings-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  background-color: var(--light-color);
  padding: 15px;
  border-radius: 8px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  color: var(--white-color);
  width: 100%;
}

select {
  width: 200px;
  padding: 8px;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--white-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  text-wrap: wrap;
}
option {
  text-wrap: wrap;
  width: 100%;
}

select:focus {
  outline: none;
  border-color: var(--blue-color);
  box-shadow: 0 0 5px rgba(140, 170, 238, 0.3);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  color: var(--dark-color);
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s;
}

button#create {
  background-color: var(--green-color);
  color: var(--dark-color);
}

button#create:hover {
  transform: scale(1.05);
}

button#delete {
  background-color: var(--red-color);
  color: var(--white-color);
  transition: opacity 0.5s;
}

button#delete:hover {
  transform: scale(1.05);
}

button#delete:disabled {
  opacity: 0;
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 8px;
}

input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 8px;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--blue-color);
  box-shadow: 0 0 5px rgba(140, 170, 238, 0.3);
}

input[type="checkbox"] {
  margin-right: 10px;
  accent-color: var(--blue-color);
  transform: scale(2);
}
input[type="submit"] {
  width: 200px;
  padding: 10px 20px;
  background-color: var(--green-color);
  color: var(--dark-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}
