:root {
    --dark-color: #282828;
    --light-color: #928374;
    --white-color: #ebdbb2;
    --red-color: #cc241d;
    --orange-color: #d65d0e;
    --yellow-color: #d79921;
    --green-color: #98971a;
    --blue-color: #458588;
    --purple-color: #b16286;
}