:root {
    --dark-color: #2d2a2e;
    --light-color: #403e41;
    --white-color: #fcfcfa;
    --red-color: #ff6188;
    --orange-color: #fc9867;
    --yellow-color: #ffd866;
    --green-color: #a9dc76;
    --blue-color: #78dce8;
    --purple-color: #ab9df2;
}